{% extends 'base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block body %}
    <h1>Create new Commande</h1>

    {{ include('commande/_form.html.twig') }}

    {# {{ form_start(form) }}
        {{ form_row(form.restaurent) }}
        {{ form_row(form.produits) }}
        {{ form_row(form.user, { 'attr': {'class': 'd-none'} }) }}
    {{ form_end(form) }} #}

    {# <a href="{{ path('commande_index') }}">back to list</a> #}
{% endblock %}
